.confirm-holder{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 2rem;
}

.confirm-text{
    padding: 2rem;
}

.confirm-machine{
    padding: 2rem;
    text-align: center;
}

.location{
    display: flex;
    text-align: center;
}

.location h3{
    margin-right: 1rem;
    flex: 1;
    background-color: var(--lightBlue);
    color: #ffffff;
}

.confirm-machine img{
    width: 150px;
    padding-bottom: 1rem;
}

.confirm-button{
    width: 18rem;
    background-color: var(--darkBlue);
    border: var(--lightBlue);
    font-weight: 700;
    height: 2rem;
    margin: 2rem 0;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}

.confirm-button:hover{
    background-color: var(--darkBlueHover);
    color: var(--orange);
}

.confirm-button a{
    color: #ffffff;
}

.confirm-button a:hover{
    color: var(--orange);
}

.reserve-time{
    font-weight: bold;
    padding: 1rem 0;
}

.confirm-text p{
    padding: 1rem 0;
}

.Countdown span{
    font-size: 3rem;
}